header {
    background-color: aqua;
    display: flex;
}

header h1 {
    margin-left: 10px;
}

header ul {
    display: flex;
    margin-left: 1300px;
    list-style: none;
    padding: 10px;
}

header li {
    padding: 5px;
    font-size: 20px;
    margin-left: 20px;
}