.container h1 {
    font-size: 50px;
    padding: 25px
}

.imagenes {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.deco {
    height: 300px;
    width: 300px;
    background-color: aqua;
    margin-bottom: 20px;
}

@media all and (min-width: 600px) and (max-width: 1023px) {
    .container h1 {
        text-align: center;
    }

    .deco {
        height: 250px;
        width: 250px;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 599px) {
    .container h1 {
        font-size: 35px;
        text-align: center;
    }

    .deco {
        height: 200px;
        width: 200px;
        margin-bottom: 15px;
    }
}